
.nav_contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}
 
.nav_contents img{
    width: 100px; 
     transform: scale(1.5); 
}

.nav_contents button{
    background-color: red;
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    margin: 20px;
    border: none;
    transform: scale(1.5);
    
}